[submodule "External/CocoaHTTPServer"]
	path = External/CocoaHTTPServer
	url = https://github.com/robbiehanson/CocoaHTTPServer.git
[submodule "twitter_bootstrap_admin"]
	path = twitter_bootstrap_admin
	url = https://github.com/mralexgray/twitter_bootstrap_admin
	ignore = dirty
